@charset "utf-8";
* {
    font-family: 'NanumGothic', serif; box-sizing: border-box;padding: 0; margin: 0;
}
body {
    background-color: #ffdbdb;
}
#layout {
    max-width: 1920px; margin: auto;
}

section> h2 {
    text-transform: uppercase;
    text-align: right;
    margin:30px 0;
    border-bottom:4px solid white;
    max-width: 300px; font-size: 3rem;
}
a { text-decoration: none; }
.hidden {overflow: hidden; height:0;}

/* ------------------------------- */
nav {
	position:fixed; width:100%; z-index:3;
	padding: 5px;
	font-weight:700; background: black;
    
}
nav> div {
	max-width:1490px; margin:auto; display:flex;
    align-items: center;
}
nav #logo {
	color:white; flex:1; display: block;
}
#logo img {max-width: 100%;}
#menu {
    padding:15pt 0 10pt 0;
}
#menu a {
	color:white; margin-left:20pt;
	text-shadow:0 0 10px black;
}
#menu a:hover/* , #menu a.act */ {
	color: #f7a7bb;
}
/* ------------------------------- */
#mytitle {
    width: 100%; height: 350px; max-width: 100%;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('https://pbs.twimg.com/media/FYEuZEWWIAATQkt?format=jpg&name=large');
    background-position: center;
    background-size: cover;

    color: white; text-align: center;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}
.mytitle > p{
    font-size: 12px;
    margin-top: 10px;

}
/* ------------------------------- */
#comment {
    max-width: 1400px; width: 95%;
    margin: 0 auto 50px auto;
}
#comment >.card {
    background-color: #f8c8c8;
    margin-top: 10px; margin-bottom: 10px;
}
#comment > .card:hover {
    background-color: #f7a7bb;
    font-weight: bold;
}
.blockquote-footer {
    font-size: 15px;
    margin-top: 5px;
}
/* ------------------------------- */
.post {
    background-color: #f7a7bb;
    max-width: 1400px; width: 95%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px white;
    display: none;
}
.mybtns {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    margin-top: 20px;
}
.mybtns > button {
    margin-right: 10px;
}
/* ------------------------------- */
main {
    margin: 0; padding: 0;
    background-color: #df6c89;
}
/* ------------------------------- */
.iamges {
    width: 100%; padding: 10px 0 50px 0;
}
.iamges > h2 {
    color: white;
}
#poster {
    display: flex; justify-content: center; margin: auto 3%;
}
#poster a {overflow: hidden; }
#poster a:not(:last-of-type) {
    margin-right: 15px;
}
#poster img {
    width: 100%; display: block;
    border: 3px solid white;
    transition: 0.5s; 
}
#poster img:hover {
    transform: scale(1.05);
    filter: brightness(55%);
    background: blcak;
}
#poster div:not(:last-child) {
    padding-right: 10px;
}
/* ------------------------------- */
#about {
    position: relative;
}
#about > h2 {
    color: white;
    padding-right: 20px;
}
#about h3 {
    color: white; font-size:3rem;
    position: absolute; top: 150px; left: 3%;
}
#about h3>b {
    font-size: 1.5rem;
}

#aboutTxt {
    margin: auto; margin-top: 50px;
    display: flex; padding: 0 3%;
}
#aboutTxt>section {
    width: 900px; padding-top: 250px;
}
#aboutTxt p>b {
    color: white; font-size: 1.1rem;
}
#aboutImg img {max-width: 100%;}

#AdditionalTxt {background-color: rgba(255, 255, 255, 0.4); padding:10px 0;}
#AdditionalTxt h4 {
    color: white; font-size:3rem;
    display: inline-block; margin-left: 3%;
    border-bottom: 3px solid white;
}
#AdditionalTxt .box {padding: 0 3%;}
/* ------------------------------- */
#album {
    background-image: linear-gradient(/* to right, */ #df6c89 60%, #292929 40%);
    padding-bottom: 20px; margin-bottom: 0;
    position: relative; max-width: 100%;
}
#album h2 {
    border-bottom:4px solid black;
    padding-top: 50px;
    color: black;
}
#album div {
    display: flex; flex-wrap: wrap; 
    justify-content: center;
    margin-top: 6vh;
    box-sizing: border-box;
}
#album button {
    flex: 1; border: none; background: none;
    display:inline-block; max-width: 300px;
    text-align: center; margin-left: 20px;
    font-size:1rem ;color: #df6c89;
    
}
#album button:nth-of-type(2) {
    font-size: 0.9rem; letter-spacing:10%;
}
#album img {
    max-width: 100%;
    margin-bottom: 10px;
}

/* ------------------------------- */
#mv>h2 {
    border-bottom:4px solid black;
}
#mvAbout {
    display: flex; padding: 0 3%;
    margin-bottom: 20px;
}

#mvAbout>p {
    flex: 1; width:700px; 
}
#mvAbout img {
    max-width: 100%;
    border-left: 50px solid black;
    border-right: 50px solid black;
}
#mvAbout>div {
    flex: 0.8;
    margin-left: 60px;
    padding: 30px 40px 0 0; 
}
#mvAbout div>h4 {
    margin-bottom: 20px;
}


#mv_list>h4 {
    border-bottom: 3px solid black;
    display: inline-block; margin-left: 3%;
    text-transform: capitalize;
}
#mv_list>ul {
    list-style: none; 
    display: flex; flex-wrap: wrap; justify-content: center;
    padding: 0 3%; margin: auto;
}
#mv_list li {
    width: 340px;
    margin:10px 10px 20px 0;
}
#mv_list a {
    color: #292929;
}
#mv_list img {
    max-width: 100%; border-radius: 10px;
    filter: grayscale(0.9); transition: 0.5s;
}
#mv_list img:hover {
    filter: none;
}
#mv_list b {
    font-size: 1.2rem;
    margin-left: 5px;
    text-transform: capitalize;
}
#mv_list span {
    float: right; font-size: 0.95rem;
    margin: 5px 7px 0 0; color: slategray;
}
/* ------------------------------- */
#stage {
    margin-top: 100px; padding-top: 60px;
    background: black;
}
#stage h2 {
    width: 450px; padding-right: 30px;
    color: #df6c89; 
    border-bottom:4px solid #df6c89;
}
#video_cover {
    max-width:1250px; height: 600px; margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
#video_cover video {
    max-width:1300px;
    object-fit: contain;
}

.ticket {
    max-width: 1400px; height: 100px;
    background: rgba(141, 32, 76, 0.2);
    border-radius: 25px; margin: auto; margin-top: 20px;
    display: flex; align-items: center;
    position: relative;
}
.schedule--date {
    flex:0.6; margin-left: 20px;
    color: #df6c89;
    font-weight: bold; font-size: 1.75rem;
}
.schedule--city {
    flex:0.3; color: white;
}
.schedule--location {
    flex:1; color: white;
    padding-left: 10px;
}
.schedule--actions {
    flex:0.55; display: flex;
    align-items: center;
}
.button--grey{
    color: #c8c8c8; font-weight: bold;
    padding: 10px 25px 14px 25px;
    border: none; border-radius: 10px;
    background-color: #4c4c4c;
    flex-direction: row-reverse;
}
.button--ghost {
    color: white; margin-right: 20px;
    padding: 5px 20px 9px 20px;
    border: 3px solid white;
    border-radius: 10px;
    background: none;
    
}
.button--pink {
    color: #df6c89; font-weight: bold;
    padding: 5px 20px 9px 20px;
    border: 3px solid #df6c89;
    border-radius: 10px;
    background: none;
}


#bottom-footer {
    background: black; padding: 100px 20px; text-align: center; color: white;
}
#footerLogo {display: block; margin: 20px auto;}
#footerLogo>img {
    max-width: 200px; margin: auto;
}

#bottom-footer>div {
    margin: auto; width: 50%;
    display: flex; align-items: center;
    margin-bottom: 10px; justify-content: center;
}
#bottom-footer>div a {
    max-width: 100px; display: inline-block;
}
#bottom-footer>div img {
    max-width: 100%;
}
#bottom-footer #email {
    color: #f7a7bb; display: block;
    padding-bottom: 20px;
}
#bottom-footer span::before {
    content: url(../images/logo_footer.png);
    margin-right: 10px; 
}
/* ------------------------------------- */
/* 팝업배경 */

::-webkit-scrollbar {width:0.0001pt;}
#popup {
    position:fixed; top:0;  left:0;
    width:100%; height:100%; 
    overflow:auto; display:none;
    background: rgba(0, 0, 0, 0.95);
}
#popup>div {
    width: 670px; height: 850px; 
    margin: auto; margin-top: calc((100vh - 850px) / 2);
    background:#f8c8c8; padding: 10px;
}
#popTitle {
    display:flex; padding:10px;
    justify-content: flex-start; align-items: center;
}
#popTitle h2 {
    flex:1; color:#292929; font-size:2rem; text-align: center; padding-left: -20px;
}
#popTitle button {
    color:#292929; font-size:2.3rem;  
    border:none; background:none;
}
#popup img {
    max-width: 100%; display: block; padding: 2% 0;
    border-bottom: 2px solid #292929;
    border-top: 2px solid #292929;
}


/* ------------------------------- */


@media (max-width:1400px) {
    #about h3 {
        font-size:3rem; text-align: center;
        position: initial; margin-top: 5%;
    }
    #aboutTxt {align-items: center; background: rgba(255, 255, 255, 0.4); padding: 30px 0; margin-bottom:3%;}
    #aboutTxt>section {  flex: 0.6; padding: 10px;}
    #aboutImg {flex: 1; padding: 10px;}
    #AdditionalTxt {background-color: #df6c89;}
    #mvAbout {flex-direction: column; justify-content: center;}
    #mvAbout>p {margin: auto;}
    #video_cover video {max-width: 100%; max-height: 100%;}
}
@media(max-width:700px){
    section > h2 {font-size: 2.2rem; padding-right: 30px;}
    nav {padding:10pt 5pt 5pt 5pt;}
	nav>div {display: block; text-align: center;}
	#logo  	{margin-bottom:7pt;}
	#menu a:first-child {margin-left:0;}
	#menu a {font-size:0.9rem; }
    /* ----------------------- */
    #poster {flex-wrap: wrap;}
    #poster a {
        max-width: 210px; margin: 10px auto;
        padding: 5px;
    }
    /* ----------------------- */
    #about h3 { 
        font-size: 1.9rem; text-align: center; color: white;
        text-shadow: 0 0 3px white;
        padding: 10px 0; margin: auto; position: initial;
    }
    #about p {text-align: center;}
    #aboutTxt {display: block; padding: 0 20px;}
    #aboutTxt>section { max-width: 100%; padding: 10px;}
    #aboutImg { display: block; max-width: 100%; padding-bottom: 5vh;}
    #AdditionalTxt {background-color: none;}
    #AdditionalTxt> h4 {font-size: 2rem;}
    #AdditionalTxt> .box {line-height: 160%; }
    /* ----------------------- */
    #album {
        background: #292929;
        max-width: 100%; padding-bottom: 1100px;
    }
    #album h2 {
        border-bottom:4px solid white;
        padding-top: 20px; color: white;
    }
    #album button {
        flex: auto; width: 200px; font-size: 1rem;
        margin-bottom: 15px;
    }
    /* ----------------------- */
    #mvAbout {display: block;}
    #mvAbout p {width: 100%;}
    #mvAbout p>img {max-width: 100%;}
    #mv_list {margin: auto;}
    #mv_list ul { margin-left: 30px; box-sizing: border-box;}
    #mv_list li {max-width:200px; margin: 5px; margin-bottom: 10px;}
    #mv_list b { font-size: 1rem; display: block; margin: 0;}
    #mv_list span { font-size: 0.7rem; float: left; margin: 0;}
    /* ----------------------- */
    #video_cover {max-width: 100%; height: 300px;}
    #video_cover video {max-width: 100%; max-height: 100%;}
    .ticket {max-width: 95vw; display: block;}

    .schedule--date {padding-top: 15px; font-size: 1.3rem;}
    .schedule--city {display: inline-block; font-size:  0.95rem; margin-left: 20px;}
    .schedule--location {display: inline-block; font-size: 0.95rem;}
    .schedule--actions {position: absolute; top: 10px; right: 10px; display: block;}
    .ticket button {padding: 2px 10px 5px 10px; font-size: 0.9rem;}
    .ticket a:first-child { display: block; padding-bottom: 10px;  margin: auto;}
}
@media(max-width:435px) {
    section> h2 {text-align: center; max-width:100%; padding: 0;}
    #mytitle {
        height: 400px; padding-top: 90px;
    }
    #poster { display: block; }
    #about h3 {font-size: 1.3rem;}
    #about h3>b {font-size: 1rem;}
    #aboutTxt {padding: 0; padding-bottom: 10px; display: block; }
    #aboutImg { padding: 0; }
    #AdditionalTxt p {text-align: justify; font-size: 0.85rem;}
    

    #album { border: 5px solid red; position: static; height: 100%;}
    #album div {display: block; border:1px solid blue; }
    #album button {display: block; margin:10px auto; box-shadow: 3px 3px 2px black;}
    #album a {max-width: 160px;}


}